<!DOCTYPE html>
<html ng-app="myapp">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add user page</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style>
        input.btn {
            min-width: 120px;
        }
    </style>
</head>

<body ng-controller="mycontroller">

    <div class="container-fluid">
        <br><br>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">Add user</div>
            </div>
            <div class="panel-body">
                <div class="row" style="width: 50%; margin: 0 auto;">
                    <div class="col-sm-12">
                        <form th:action="${ACTION}" th:object="${STAFFDTO}" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label>Fullname</label>
                                <input class="form-control" placeholder="Enter fullname" ng-model="fullname" type="text"
                                    name="fullname" size="50">
                            </div>
                            <div class="form-group">
                                <label>Address</label>
                                <input class="form-control" placeholder="Enter address" ng-model="address" type="text"
                                    name="address" size="50">
                            </div>
                            <div class="form-group">
                                <label>Age</label>
                                <input class="form-control" placeholder="Enter age" ng-model="age" type="number" name="age"
                                    size="20">
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <input class="form-control" placeholder="Enter email" ng-model="email" type="email" name="email"
                                    size="50">
                            </div>
                            <div class="form-group">
                                <label>Phone number</label>
                                <input class="form-control" placeholder="Enter phone number" ng-model="phone_number" type="tel"
                                    name="phone_number" size="50">
                            </div>
                            <input class="btn btn-primary" ng-click="add_user()" type="button" value="Add user">
                        </form>
                    </div>
                </div>
            </div>
            <div class="panel-footer">Today: {{today|date: "dd/MM/yyyy"}}</div>
        </div>

    </div>

    <script type="text/javascript">
        var app = angular.module("myapp", []);
        app.controller('mycontroller', function ($scope) {
            $scope.today = new Date();
        });
    </script>
</body>

</html>